$nav-bg-color: #0f1111;
$nav-text-color: #ffffff;
$search-dropdown-color: #f3f3f3;
$search-dropdown-hover-color: #dfdfdf;
$search-dropdown-border-color: #cdcdcd;
$search-text-color: #111;
$search-btn-color: #febd69;
$search-btn-hover-color: #f3a847;